.stats-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.stat-num {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.stat-desc {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-top: -1.2rem;
}






/* Tablet (width <= 1000px) */
@media (max-width: 1000px) {

.stats-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.stat-num {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.stat-desc {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: -1.2rem;
    text-align: center;
}

}



/* Mobile*/
@media (max-width: 500px) {
.stats-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.stat-num {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.stat-desc {
    font-family: 'The Bold Font', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: -1.2rem;
    text-align: center;
}

}